.app-title {
    font-size: 5rem;
    font-family: 'Fredericka the Great', cursive;
    background-image: linear-gradient(360deg, blue, black);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    padding: 10px;
}